.containerAllFavBooks{
    margin-top: -10px!important;
    width: 760px !important;
}

.paginateAllFavouriteBooksUser{
    margin-top: 450px!important;
    margin-left:300px;
    position: absolute;
}