.containerGridBook{
    height: 600px;
    margin-top: 60px;
    position: relative;
    padding-top: 50px;
}

.fontNameBook{
    font-size: 20px;
}


.paginateBooks{
    position: fixed;
    bottom: 10%!important;
    margin-left:23%;

}

.nameAuthor{
    text-align: left;
}