.containerGridBook{
    height: 600px;
    margin-top: 60px;
    position: relative;
    padding-top: 50px;
}

.fontNameBook{
    font-size: 20px;
}


.paginateBooks{
    position: absolute;
    bottom: 60px!important;
    margin-left: 350px;

}

.nameAuthor{
    text-align: left;
}