.containerAddBook{
    height: 950px;
    margin-top: -50px;
}

.bookAddLabel1{
    margin-right: 500px;
}

.bookAddLabel2{
    margin-right: 440px;
}

.bookAddLabel3{
    margin-right: 510px;
}

.bookAddLabel4{
    margin-right: 360px;
}

.form-group select{
    margin-left: 280px;
}

.imgUpladed {
    width: 100px;
    height: 100px;
}

.errorMessage2{
    margin-left: 280px;
}
