.containerEditBook{
    height: 700px;
    margin-top: -50px;
}

.bookEditLabel1{
    margin-right: 380px!important;
}

.bookEditLabel2{
    margin-right: 440px;
}

.bookEditLabel3{
    margin-right: 510px;
}