.containerAddBook{
    height: 800px;
    margin-top: -50px;
}

.bookAddLabel1{
    margin-right: 500px;
}

.bookAddLabel2{
    margin-right: 440px;
}

.bookAddLabel3{
    margin-right: 510px;
}

.form-group select{
    margin-left: 280px;
}