.containerAllRequestsBooks{
    margin-top: 50px!important;
    width: 900px !important;
    margin-left: auto!important;
    margin-right: auto!important;
    height: 650px;
}

.paginateAllRequests{
    position: absolute;
    margin-top: 540px;
    margin-left: 320px;
}