.containerDetails{
    height: 700px;
    margin-top: 60px;
}

.topPhoto {
    width: 300px;
    height: 250px;
    position: relative;
}
.rounded {
    border-radius: 7% !important;
}

.imgProfileBook {
    width: 100px !important;
    height: 100px !important;
    position: absolute;
    top:0% !important;
    left: 10%;
    border: 1px #cc0044 solid;
}

.nameProfile{
    font-size: 25px !important;
}

.nameBook{

    font-size: 25px;
    /*margin-right:0px !important;*/
    margin: auto;
    /*margin-left: 6px;*/
}

.imgBook{
    width:200px;
    height:200px
}