.containerDetails{
    height: 700px;
    margin-top: 60px;
}

.topPhoto {
    width: 300px;
    height: 250px;
    position: relative;
}
.rounded {
    border-radius: 7% !important;
}

.imgProfile {
    width: 100px !important;
    height: 100px !important;
    position: absolute;
    top:0% !important;
    left: 10%;
    border: 1px #cc0044 solid;
    display: none;
}

.imgProfileAvatar{
    width: 100px !important;
    height: 100px !important;
    position: absolute;
    top:0% !important;
    left: 10%;
    border: 1px #cc0044 solid;
}
.nameProfile{
    font-size: 25px;
}

.nameBook{

    font-size: 25px;
    margin-right: 130px !important;
}

.imgBook{
    width:200px;
    height:200px
}
.editUser{
    margin-right: 100px;
}
.fa{
    display: inline !important;
}

.nameProfile{
    font-size: 15px;
    margin-right: 180px;
    color: #cc0044 !important;
}