.containerAllOrderedBooks{
    margin-top:60px!important;
    width: 800px !important;
    /*height: 600px;*/
    margin-left:auto!important;
    margin-right: auto!important;

}

.paginateAllOrderedBooksStyle{
    position: absolute;
    margin-top: 520px;
    margin-left: 300px;
}