.imgWidthAndHeight{
    width: 200px;
    height: 300px;
    position: relative;
}
.fontNameBook{
    margin-left: -18px;

    font-size: 18px !important;
}

.headerText{
    margin-top: -5px;
}
.favourite{
    position: absolute;
    top: 5%;
    left: 80%;
    border: 1px solid #cc0044 !important;
    border-radius: 50px!important;
    background-color: #ffe1e1 !important; opacity: 90%;
  //  background-color: transparent;

}

.favouriteClicked{
    position: absolute;
    top: 25%;
    left: 80%;
    /*border: 1px solid #cc0044 !important;*/
    /*border-radius: 30px!important;*/
    /*background-color: #ffe1e1 !important;*/
    background-color: transparent;

}

.favouriteHeart{
    /*color: #cc0044 !important;*/

    /*color: transparent;*/
    font-size: 40px !important;
}

.roundedLinksBooks{
    border-radius: 20px!important;
}
.cardOneBookHeader{
    height: 70px;
}