.carouselBooksImg{
    /*width: 500px;*/
    height: 300px;
}

.carouselWidth{
    width: 500px !important;
}

.carouselHeight{
    height: 400px!important;
}

.carousel {
    width:600px;
    height:300px;
    /*margin: auto;*/
    margin-top: 50px!important;
    margin-left: 280px;
}